<%# <h1>X API Integration Status</h1> %>

<%# <% if @user_data %1> %>
<%#   <p>Successfully connected to the X API.</p> %>
<%#   <h2>My User Data:</h2> %>
<%#   <pre><%= JSON.pretty_generate(@user_data) %1></pre> %>
<%# <% else %1> %>
<%#   <p>Failed to retrieve user data. Check your credentials and logs.</p> %>
<%# <% end %1> %>


<%# <br /> %>
<%# <% if @list_tweets %1> %>
<%#   <h2>Tweets</h2> %>
<%#   <pre><%= JSON.pretty_generate(@list_tweets) %1></pre> %>
<%# <% end %1> %>
